.bottom-navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.top-navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.icon-item-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.font-size10 {
    font-size: 10px;
    line-height: 10px;
}